.search-container {
    background-color: #121212;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
  }

  .search-container h2{
    text-shadow: 2px 2px 7px black;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .search-box input { 
    color: white;
    letter-spacing: 1.5px;
    font-family: 'Teko';
    font-size: 1.2rem;
    width: 300px;
    padding: 10px;
    border: 2px solid #303030;
    border-radius: 8px 0 0 8px;
    outline: none;
    background-color: #252525;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.681);
  }
  
  .search-box button {
    font-family: 'Teko';
    font-size: 1.5rem;
    padding: 5px 16px;
    background-color: #e0b400;
    border: 2px solid #e0b400;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.681);
    transition: all 0.3s ease-in-out;
  }
  
  .search-box button:hover {
    color: #1e1e1e;
    background-color: #fdf338;
  }
  
  .results-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  
  .before-search{
    color: white;
  }

  .no-image {
    height: 400px;
    width: 300px;
    background: #1c1c1c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
  }
  