.landing-movie-card {
    text-decoration: none;
    width: 20%;
    height: 500px;
    transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out ;
    border-radius: 10px;
    filter: brightness(75%);
    transition: all 0.5s ease-in-out;
}
  
  .landing-movie-card:hover {
    height: 500px;
    width: 80%;
    box-shadow: 0 0 15px rgba(95, 95, 95, 0.755);
    filter: brightness(110%)
 
  }
  
  .landing-movie-card .img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 3px solid rgb(29, 27, 21);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
   
   
  }
  .containers {
    margin: 1% 25%;
    display: flex;
    gap: 11px;
    align-items: center;
    overflow: visible;
    height: 500px;  /* ✅ matches image height */
  }
  
  
  @media(max-width:900px){
    .containers{
      display: none;
    }
  }